
.stack-pane-root {
  -fx-background-color: #FEFDFF;
  -fx-background-radius: 30;
  -fx-border-radius: 30;
  -fx-border-color: gray;
  -fx-border-width: 1;
}

.vbox-container {
  -fx-alignment: center;
  -fx-spacing: 5;
  -fx-fill-width: false;
}

.label-title {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.text-field-style {
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-border-color: gray;
  -fx-border-width: 1;
  -fx-padding: 0 0 0 20;
}

.button-primary {
  -fx-background-color: #FFE600;
  -fx-background-radius: 10;
}

.button-secondary {
  -fx-background-color: transparent;
  -fx-text-fill: #364153;
}

.label-error {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: red;
}